<div class="navbar-gimily <%if !signed_in? %> <%= 'navbar-gimily-sign-in' %> <% end %>">
  <div class="navbar-content">
    <!-- Left Section: Logo -->
    <div class="brand">
      <%= link_to root_path, { :class=>"brand-link" } do %>
        <%= image_tag('gimily_blue.svg', class: "navbar-gimily-brand", alt: 'logo') %>
      <% end %>
    </div>
    <!-- Right Section -->
    <% if user_signed_in? %>
      <div class="navbar-gimily-middle">
        <!-- .... -->
      </div>
    <% else %>
      <!-- Sign in section -->
      <div class="navbar-sign-in">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.text_field :email, placeholder: 'Email or Phone', class: 'email-input' %>
          <%= f.password_field :password, placeholder: 'Password', class: 'pwd-input' %>
          <%= f.submit 'Log in', class: 'submit-Log-in'%>
          <%= f.submit 'Register', class: 'submit-Register'%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
