<div class="navbar-gimily <%if !signed_in? %> <%= 'navbar-gimily-not-sign-in' %> <% end %>">
  <div class="navbar-content content-container">
    <!-- Navbar When Sign in -->
    <% if user_signed_in? %>
      <!-- Left Section: Logo -->
      <div class="left-side">
        <div class="brand">
          <%= link_to root_path, { :class=>"brand-link" } do %>
            <%= image_tag('G_logo.png', class: "navbar-gimily-brand", alt: 'logo') %>
          <% end %>
        </div>
        <!-- Middle Section -->
      <div class="navbar-middle">
        <form class="search-bar-navbar" action="/">
          <input type="text" placeholder="Search any objects online" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
        <!-- Right Section -->
      <div class="navbar-right">
        <!-- profil link -->
          <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">
              <%# cl_image_tag(current_user.avatar, class: "avatar-navbar") %>
              <div class="profile-nav">
                <%= image_tag('http://i.pravatar.cc/300', class: "avatar-navbar") %>
                <p>Armand</p>
              </div>
            </button>
            <div class="dropdown-content" id="myDropdown">
              <%= link_to('Profile', root_path) %>
              <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
            </div>
          </div>
      </div>
    <!-- *******Navbar When NOT Sign in******* -->
    <% else %>
      <div class="left-side">
        <div class="brand">
          <%= link_to root_path, { :class=>"brand-link" } do %>
            <%= image_tag('G_logo.png', class: "navbar-gimily-brand", alt: 'logo') %>
          <% end %>
        </div>

        <div class="menu-link-content">
            <!-- Community link -->
            <%= link_to root_path, class: "menu-link" do %>
              <%= image_tag('community_black.png', class: 'icon-navbar community-icon-navbar') %>
              <p>COMMUNITY</p>
            <% end %>
          <!-- Messages link -->
            <%= link_to root_path, class: "menu-link" do %>
              <%= image_tag('messages.png', class: 'icon-navbar messages-icon-navbar') %>
              <p>MESSAGES</p>
            <% end %>
          <!-- Items link -->
            <%= link_to root_path, class: "menu-link" do %>
              <%= image_tag('box-items.png', class: 'icon-navbar box-items-icon-navbar') %>
              <p>MY BOX</p>
            <% end %>
        </div>
      </div>
      <!-- Sign in section -->
      <div class="navbar-sign-in">
        <%= link_to('LOG IN', log_in_path, class: "login-link" ) %>
        <%= link_to('SIGN UP', new_user_registration_path, class: "sing-in-link" ) %>
      </div>
    <% end %>
  </div>
</div>



<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.path.some((el) => {
    return el.classList && el.classList.contains("dropbtn");
  })) {
    var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>









