<div class="wrapper">
  <% if !signed_in? %>
    <div class="banner">
       <%= render "shared/bannerhome" %>
    </div>
    <%= render "shared/all_items" %>
  <% else %>
    <div class="home-container">
      <div class="cart-container">
        <%= image_tag("chariot_circle.png", class: "cart_link") %>
      </div>
      <div class="poeple-cloud-container">
        <%= image_tag("cloud_people_search_blue.png", class: "poeple-cloud-link") %>
      </div>
      <%= render "shared/all_items" %>
    </div>
  <% end %>
</div>
